* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  // background-color: black;

  div {
    button {
      // Your button styles here
    }
  }

  .wrapperGrid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    // place-content: sta;
    width: 100%;
    height: 100%;
    .wrapperItem {
      flex: 1;
      height: 250px;
      border: 1px solid black;
      padding: 10px;
      margin: 10px;
    }
  }
}
